data/
outputs/

*.ckpt
*.pth
*.pt

.DS_Store

__pycache__/
*.py[codz]
*$py.class
*.so

.env
.env.*
!.env.example
.venv/
venv/

build/
dist/
*.egg-info/

.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*

.ipynb_checkpoints/
*.log
